<div class="row">
  <div
    class="col-12 contact-section d-flex flex-column justify-content-center align-items-center py-4"
  >
    <h1 class="contact-msg">Feel free to get in touch</h1>
    <div>
      <p><i class="icon fa-solid fa-house"></i> Hyderabad, Telangana, India</p>
    </div>
    <div class="d-flex gap-3">
      <div class="mail">
        <i class="icon fas fa-envelope"></i>
        <a class="contact-link" href="mailto: samalapranay02@gmail.com"
          >Email</a
        >
      </div>
      <div class="linkedin">
        <i class="icon fab fa-linkedin"></i>
        <a
          class="contact-link"
          href="https://www.linkedin.com/in/pranaykumarsamala/"
          >Linkedin</a
        >
      </div>
    </div>
  </div>
</div>
