<div class="about-section p-3 d-flex flex-column justify-content-evenly gap-5">
  <div class="about-me">
    <h2>About me</h2>
    <p>
      I'm a passionate frontend developer working towards becoming a fullstack
      developer.
    </p>
  </div>
  <div class="skills">
    <h1>My Skills</h1>
    <div class="d-flex flex-wrap justify-content-evenly mt-3 w-50 gap-3">
      <p class="skill">HTML</p>
      <p class="skill">CSS</p>
      <p class="skill">JavaScript</p>
      <p class="skill">Bootstrap</p>
      <p class="skill">Angular</p>
      <p class="skill">Java</p>
      <p class="skill">Python</p>
      <p class="skill">SQL</p>
      <p class="skill">NodeJs</p>
      <p class="skill">ExpressJs</p>
    </div>
  </div>
  <div class="experience">
    <h1>Experience</h1>
    <p class="fw-bold">Developer Intern</p>
    <p class="fw-bold">
      Company: <span class="fw-normal">Ariqt International</span>
    </p>
    <p class="fw-bold">
      Duration: <span class="fw-normal">mar-2025 to jun-2025</span>
    </p>
  </div>
</div>
