<div class="project-section row g-4 px-5 py-4 mt-5 align-items-stretch">
  <div class="col-12 col-md-3 d-flex">
    <div
      class="project-card flex-grow-1 d-flex flex-column justify-content-between h-100"
    >
      <div class="info">
        <h2 class="project-name">Amazon Clone</h2>
        <ul class="text-white">
          <li>
            Designed and implemented comprehensive e-commerce application,
            replicating core functionalities of Amazon.
          </li>
          <li>
            Interactive features for adding, updating, and removing items from
            the cart.
          </li>
          <li>Used Day.js for real-time order date management.</li>
        </ul>
      </div>
      <div class="live-link btn">
        <a
          class="text-white text-decoration-none"
          href="https://pranayphani.github.io/amazonProject/amazon.html"
          target="_blank"
          >See it live</a
        >
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3 d-flex">
    <div
      class="project-card flex-grow-1 d-flex flex-column justify-content-between h-100"
    >
      <div class="info">
        <h2 class="project-name">Password Generator</h2>
        <ul class="text-white">
          <li>
            Developed a Password Generator with customizable options for length,
            numbers, and special characters.
          </li>
          <li>
            Implemented a dynamic length slider and character selection
            checkboxes for flexible password creation.
          </li>
          <li>
            Added a one-click copy-to-clipboard feature for easy and secure
            password usage.
          </li>
        </ul>
      </div>
      <div class="live-link btn">
        <a
          class="text-white text-decoration-none"
          href="https://password-generator-two-woad.vercel.app/"
          target="_blank"
          >See it live</a
        >
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3 d-flex">
    <div
      class="project-card flex-grow-1 d-flex flex-column justify-content-between h-100"
    >
      <div class="info">
        <h2 class="project-name">Intern Management Portal</h2>
        <ul class="text-white">
          <li>
            Built a full-featured web application using Angular and Bootstrap,
            integrating CRUD operations with mock API data.
          </li>
          <li>
            Implemented routing and navigation to manage views such as add,
            edit, delete, and search intern records efficiently.
          </li>
          <li>
            Designed and developed a searchable dashboard for managing intern
            profiles, enabling seamless user interaction.
          </li>
        </ul>
      </div>
      <div class="live-link btn">
        <a
          class="text-white text-decoration-none"
          href="https://gray-field-04624b81e.6.azurestaticapps.net/"
          target="_blank"
          >See it live</a
        >
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3 d-flex">
    <div
      class="project-card flex-grow-1 d-flex flex-column justify-content-between h-100"
    >
      <div class="info">
        <h2 class="project-name">To-Do List</h2>
        <ul class="text-white">
          <li>
            Implemented features to add, delete, and mark tasks as completed
            with real-time updates.
          </li>
          <li>
            Utilized local storage to persist tasks even after the browser is
            closed or refreshed.
          </li>
        </ul>
      </div>
      <div class="disabled live-link btn w-75">
        <a class="text-white text-decoration-none" href="" target="_blank"
          >link not available</a
        >
      </div>
    </div>
  </div>
</div>
