<nav
  class="navbar nav-section d-flex justify-content-between w-100 align-items-center px-3 py-3"
>
  <div>
    <a
      routerLink="profile"
      class="nav-link"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Portfolio
    </a>
  </div>

  <div class="d-none d-md-flex gap-3">
    <a
      routerLink="/"
      class="nav-link mr-2"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      routerLink="about"
      class="nav-link mr-2"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      >About</a
    >
    <a
      routerLink="projects"
      class="nav-link mr-2"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      >Projects</a
    >
    <a
      routerLink="resume"
      class="nav-link mr-2"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      >Resume</a
    >
  </div>

  <div class="d-md-none">
    <select (change)="navigateTo($event)" class="form-select">
      <option value="/">Home</option>
      <option value="/about">About</option>
      <option value="/projects">Projects</option>
      <option value="/resume">Resume</option>
    </select>
  </div>
</nav>
