<div class="p-4">
  <h1 class="fs-1 mb-2 welcome-msg">Welcome I'm Pranay</h1>
  <p class="fs-4">
    I'm a Frontend Developer with a solid foundation in HTML, CSS, JavaScript,
    and Angular. I also have experience with core programming languages like
    Java and Python, enabling a versatile and analytical approach to
    problem-solving. I enjoy building clean, responsive, and user-friendly web
    applications. Some of the projects I've worked on include an Amazon Clone, a
    Password Generator, an Intern Management Portal, and a To-Do List App.
  </p>
  <button
    class="projects btn bg-danger my-5 border-0 text-light"
    routerLink="projects"
  >
    View my projects
  </button>
</div>
